body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid white;
}

#title {
  color: white;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 20px;
}

#answer {
  color: white;
}

#gameboard {
  width: 350px;
  height: 420px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  /* box */
  border: 0.5px solid gray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  border-radius: 5px;

  /* Text */
  color: white;
  font-size: 26px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #5fb806;
  color: black;
  animation: flip 0.5s ease forwards;
}

.present {
  background-color: #ead300;
  color: black;
  animation: flip 0.5s ease forwards;
}

.missing {
  background-color: darkgrey;
  color: black;
  animation: flip 0.5s ease forwards;
}

/* Correct Modal CSS */

.correctModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: none;
  background-color: white;
  border-radius: 20px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  opacity: 0;
  pointer-events: none;
}

.correctModal.active {
  opacity: 1;
  pointer-events: auto;
}

.correctModal-header {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #5fb806;
  font-weight: bold;
}

.correctModal-body {
  font-size: 18px;
  margin-top: 10px;
}

.correctModal-answer {
  font-size: 20px;
  margin-top: 20px;
  color: darkgreen;
  font-weight: bold;
}

.correctModal .close-button {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
}

/* Wrong Modal CSS */

.wrongModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Adjusted */
  transition: 200ms ease-in-out;
  border: none;
  background-color: white;
  border-radius: 20px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  opacity: 0;
  pointer-events: none;
}

.wrongModal.active {
  opacity: 1;
  pointer-events: auto;
}

.wrongModal-header {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.wrongModal-body {
  font-size: 18px;
}

.wrongModal-answer {
  font-size: 20px;
  margin-top: 20px;
  color: darkgreen;
  font-weight: bold;
}

.wrongModal .close-button {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
}

.keyboard-row {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.keyboard-tile {
  /* box */
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  margin: 1px;

  /* Text */
  color: white;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-enter {
  /* box */
  border: 1px solid lightgray;
  width: 76px;
  height: 40px;
  margin: 1px;

  /* Text */
  color: white;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#streak-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
}

#streak {
  color: white;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  45% {
    transform: rotateX(90deg);
  }
  55% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
